
# Ignore bytecode and cache
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.egg-info/

# Environment variables
.env
# Virtual environment
venv/
env/
.ven/
.venv
.env/
.env


# IDE files
.vscode/
.idea/